/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.button {
  margin: 0 10px 0 0;
  height: auto;
  padding: 11px 40px;
  text-transform: uppercase;
  transition: background 0.3s;

  &.is-rounded {
    padding: 11px 43px;
  }

  &.is-large {
    min-width: 224px;
    padding: 10px 43px;
    font-size: 20px;
    font-weight: 500;
  }

  .ico {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 0;
    line-height: 0;
  }

  &.is-primary {
    background: $primary;
    color: $primary-invert;
    border: $primary;
    .btn-icon {
      filter: invert(100%) sepia(0%) saturate(7489%) hue-rotate(114deg)
        brightness(102%) contrast(100%);
    }
    &:hover {
      background-color: $primary-dark;
      color: $primary-dark-invert;
      border: $primary-dark;
      .btn-icon {
        filter: invert(29%) sepia(86%) saturate(2750%) hue-rotate(135deg)
          brightness(94%) contrast(102%);
      }
    }
  }

  @media only screen and (max-width: 752px) {
    &.is-primary {
      margin-bottom: 15px;
    }
  }

  &.is-primary-dark {
    background: $primary-dark;
    color: $primary-dark-invert;
    border: $primary-dark;
    .btn-icon {
      filter: invert(100%) sepia(34%) saturate(910%) hue-rotate(286deg)
        brightness(107%) contrast(113%);
      -webkit-filter: invert(100%) sepia(34%) saturate(910%) hue-rotate(286deg)
        brightness(107%) contrast(113%);
    }
    &:hover {
      background-color: $primary-dark-invert;
      color: $primary-dark;
      border: $primary-dark-invert;
      .btn-icon {
        filter: invert(24%) sepia(14%) saturate(3703%) hue-rotate(100deg)
          brightness(93%) contrast(103%);
        -webkit-filter: invert(24%) sepia(14%) saturate(3703%)
          hue-rotate(100deg) brightness(93%) contrast(103%);
      }
    }
  }
}

.hero-actions {
  margin: 0 auto;
}

.btn-icon {
  width: 15px;
}
