/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search-content {
  background-color: $white;
  text-align: center;
  font-size: 50px;
  font-weight: 300;
  margin-top: 65px;

  .search-content-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    color: $primary;
  }

  .search-content-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 21px;
  }

  .search-container-submit {
    color: $primary;
    background: #141f47;
  }

  a.border-search-submit {
    color: $primary;
    background: $white;

    img {
      filter: invert(36%) sepia(45%) saturate(953%) hue-rotate(170deg)
        brightness(98%) contrast(86%);
      -webkit-filter: invert(36%) sepia(45%) saturate(953%) hue-rotate(170deg)
        brightness(98%) contrast(86%);
    }
  }

  a.border-search-submit:hover {
    color: $white;
    background: $primary;
  }

  .search-container-input {
    border: 0px;
    padding: 0 19px;
    border-radius: 4px 0 0 4px;
    border: solid $primary;
    border-width: 1px 1px 1px 1px;
    width: 300px;
    height: 42px;
    box-shadow: none;
    font-size: 16px;
    line-height: 2.13;
    margin-bottom: 0;
    color: $dark;
  }

  .button.border-search-submit {
    font-weight: 400;
    height: 42px;
    border: solid $primary;
    border-width: 1px 1px 1px 0;
    border-radius: 0 4px 4px 0;
    top: 0px;
    background-color: $primary;
  }

  .button.border-search-submit:hover {
    color: $primary-invert;
    background-color: darken($color: $primary, $amount: 20%);
  }

  @media (max-width: 767px) {
    .search-content {
      font-size: 30px;
    }

    .search-content-title {
      font-size: 20px;
    }

    .button.border-search-submit {
      width: 30%;
    }

    .search-container-input {
      width: 50%;
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $gray;
    opacity: 0.75;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $primary;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $primary;
  }

  input,
  select,
  textarea {
    color: $primary;
    border-color: $primary;
  }

  /* textarea:focus,
  input:focus {
    color: $dark;
    border-color: $primary;
    outline: none !important;    
    box-shadow: 0 0 3px $primary;
  } */
}

@media only screen and (max-width: 767px) {
  .search-content {
    margin-top: 10px;
  }
}

#e2ma_signup {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

@media (max-width: 767px) {
  #e2ma_signup {
    margin-bottom: 10px;
  }
}
