/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

$container-max-width: 1140px;
$container-small-max-width: 996px;
$container-medium-max-width: 1093px;
$container-thin-max-width: 835px;
$container-thin-alt-max-width: 851px;

$container-gutter: 30px;

$column-gap: 24px;

$family-primary: "Open Sans", sans-serif;
$body-size: 14px;
$body-line-height: 1.2;

/* Colors */

$primary: #00953b;
$primary-invert: findColorInvert($primary);

$primary-dark: #01511e;
$primary-dark-invert: findColorInvert($primary-dark);

$secondary: #682f10;
$secondary-invert: findColorInvert($secondary);

$dark: #202020;
$dark-invert: findColorInvert($dark);

$danger: #d91a31;
$danger-invert: findColorInvert($danger);

$gray: #888888;
$gray-invert: findColorInvert($gray);

$dark-gray: #333;
$dark-gray-invert: findColorInvert($dark-gray);

$light-gray: #eee;
$light-gray-invert: findColorInvert($light-gray);

$white: #fff;
$black: #222;

$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "primary-dark": (
    $primary-dark,
    $primary-dark-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "dark-gray": (
    $dark-gray,
    $dark-gray-invert,
  ),
  "secondary": (
    $secondary,
    $secondary-invert,
  ),
  "gray": (
    $gray,
    $gray-invert,
  ),
  "light-gray": (
    $light-gray,
    $light-gray-invert,
  ),
);
